@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 300px;
    height: 420px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'NIKE';
    letter-spacing: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 6em;
    font-weight: 900;
    color: #FFFFFF;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'SPORTS';
    letter-spacing: 8px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 4em;
    font-weight: 900;
    color: #FFFFFF;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    transform: translate3d(0, 0, 75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    font-family: 'Assistant', sans-serif;
}

.container .box:hover .name {
    top: 15px;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, 0, 75px);
    color: #FFFFFF;
    background: #333333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s;
    opacity: 0;
    z-index: 10;
    font-family: 'Assistant', sans-serif;
}

.container .box:hover .buy {
    bottom: -10px;
    opacity: 1;
}

.container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: .5s;
    background-color: #FFFFFF;
    z-index: 10;
    opacity: 1;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
    position: absolute;
    top: 30%;
    left: 0;
    max-width: 300px;
    transition: .5s;
    z-index: 11;
    transition: .5s;
    transform-style: preserve-3d;
    transform: translate3d(0, 10%, 50px) rotate(15deg);
}

.container .box:hover .product {
    transform: translate3d(0, 10%, 150px) rotate(15deg);
}

.container .box .circle,
.container .box .buy {
    background-color: #FE6775;
}